@charset "UTF-8";
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff") format("woff");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* body {
	width: 1180px;
	height: 100%;
	margin: 0 auto;
	border: 1px solid black;
}
 */
#footer {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 140px;
  background-color: rgb(65, 65, 65);
}
#footer .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#footer .inner .footer_menu ul {
  float: right;
  margin-right: 210px;
}
#footer .inner .footer_menu ul li {
  float: left;
  padding-right: 30px;
  display: flex;
}
#footer .inner .footer_menu ul li a {
  font: normal 17px/1 "LotteMartDream";
  color: #fff;
}
#footer .inner .footer_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#footer .inner .footer_wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner .footer_wrap h2 {
  margin: 30px 100px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#footer .inner .footer_wrap address {
  text-align: right;
  position: relative;
  margin: -100px 250px 50px;
  display: block;
  float: right;
}
#footer .inner .footer_wrap address > li span {
  padding: 0px 0px 5px 20px;
  display: inline-block;
  font: normal 13px/1 "LotteMartDream";
  vertical-align: top;
  color: #d6d6d6;
  text-align: left;
}

#header {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  background-color: rgb(246, 222, 197);
}
#header.on {
  width: 100%;
  top: 0px;
  position: fixed;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header .inner h1 {
  padding: 14px;
  top: 30px;
  position: absolute;
  left: 0px;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  top: 80px;
  right: 0px;
  display: flex;
  float: right;
}
#header .inner .menuWeb #gnb li {
  display: block;
  padding: 14px;
  width: 130px;
  height: 50px;
  text-align: center;
}
#header .inner .menuWeb #gnb li a {
  font: bold 20px/1 "LotteMartDream";
  color: #000;
}
#header .inner .menuWeb #gnb li:hover {
  padding: 14px;
  width: 130px;
  height: 50px;
  background-color: rgb(238, 92, 55);
  box-shadow: inset 3px 3px 7px rgb(110, 43, 26);
}
#header .inner .menuWeb #gnb li:hover a {
  margin-top: 10px;
  font: bold 20px/1 "LotteMartDream";
  color: rgb(255, 255, 255);
}
#header .inner .menuWeb #gnb li:active {
  box-shadow: inset 3px 3px 12px rgb(110, 43, 26);
}
#header .inner .menuWeb #gnb li .sub {
  width: 100%;
  height: 300px;
  background-color: #555;
  position: absolute;
  top: 60px;
  right: 0px;
  display: none;
  font-size: 100px;
  color: #fff;
  text-align: center;
}
#header .inner .menuWeb .until {
  padding: 10px 70px 5px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  gap: 20px;
  display: flex;
  font: normal 15px "LotteMartDream";
  color: #000;
}
#header .inner .menuWeb .until li a {
  color: #333;
}
#header .inner .btnCall {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  transition: 0.5s;
  text-indent: -9999999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: all 0.5s;
  display: none;
}
#header .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
#header .inner .menuMo h2 a {
  font: bold 24px/1 "LotteMartDream";
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
#header .inner .menuMo h2 span {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  display: block;
}
#header .inner .menuMo ul li a {
  display: block;
  padding: 20px 0px;
  text-align: center;
  font: bold 14px/1 "LotteMartDream";
  color: #888;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
  }
  #header .inner h1 {
    padding: 14px;
    top: 30px;
    position: absolute;
    left: 0px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  /* header 영역 없음 */
}
#find {
  margin: 100px 0 100px 0;
  width: 100%;
  height: 200px;
  background-image: url(../image/store/find.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#find .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#find .inner span {
  position: absolute;
  display: block;
  text-align: center;
  color: #000;
  font: bold 40px/1.5 "LotteMartDream";
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#find:hover {
  filter: brightness(0.5);
}
#find:hover span {
  border: 1px solid #000;
  width: 200px;
  border-radius: 50px;
  font: bold 40px/1.5 "LotteMartDream";
  color: #000;
  display: block;
}

#guide {
  margin: 100px 0 100px 0;
  width: 100%;
  height: 200px;
  background-image: url(../image/store/guide.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#guide .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#guide .inner span {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font: bold 40px/1.5 "LotteMartDream";
  border: 1ps solid transparent;
  box-sizing: border-box;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#guide:hover {
  filter: brightness(0.7);
}
#guide:hover span {
  border: 1px solid #fff;
  width: 300px;
  border-radius: 50px;
  font: bold 40px/1.5 "LotteMartDream";
  color: #fff;
  display: block;
}

#menu {
  font-family: "LotteMartDream";
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
#menu .inner {
  width: 1180px;
  height: 100%;
  position: relative;
  display: inline-flex;
}
#menu .inner article {
  width: 1000px;
  height: 300px;
  margin: 100px auto;
}
#menu .inner article .pic {
  width: 280px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
}
#menu .inner article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all;
  filter: brightness(0.9);
}
#menu .inner article:hover img {
  filter: brightness(0.6);
}
#menu .inner article:hover .wrap {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
}
#menu .inner article .wrap {
  position: absolute;
  width: 280px;
  height: 300px;
  margin-left: 8px;
}
#menu .inner article .wrap span {
  font-size: 20px;
  color: aliceblue;
}

#order {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
}
#order .inner {
  margin: 0 auto;
  position: relative;
}
#order .inner .wrap {
  width: 100%;
}
#order .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#order .inner .wrap .btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  border: solid #bdbdbd;
  border-width: 1px 1px 1px 1px;
}
#order .inner .wrap .btn button {
  border: solid #bdbdbd;
  border-width: 0px 0px 0px 0px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  color: #000;
  font: normal 25px/1 "LotteMartDream";
  display: block;
  cursor: pointer;
}
#order .inner .wrap .btn #cuponOrder {
  background-color: rgb(235, 235, 235);
  box-shadow: inset 3px 3px 7px rgb(128, 128, 128);
  font-size: 30px;
}
#order .inner .wrap .btn #cuponOrder:active {
  border: none;
  box-shadow: inset 3px 3px 12px rgb(75, 75, 75);
}
#order .inner .wrap .btn #packOrder {
  background-color: rgb(238, 92, 55);
  box-shadow: inset 0px 3px 7px rgb(110, 43, 26);
  font-size: 30px;
  color: #fff;
}
#order .inner .wrap .btn #packOrder:active {
  border: none;
  box-shadow: inset 3px 3px 20px rgb(110, 43, 26);
}
#order .inner .wrap .btn #deliverOrder {
  background-color: rgb(253, 208, 125);
  box-shadow: inset 0px 3px 7px rgb(128, 105, 63);
  font-size: 30px;
  color: rgb(114, 66, 18);
}
#order .inner .wrap .btn #deliverOrder:active {
  border: none;
  box-shadow: inset 3px 3px 12px rgb(114, 66, 18);
}
#order .inner .wrap .btn #groupOrder {
  border-width: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 3px 7px rgb(128, 128, 128);
  font-size: 30px;
}
#order .inner .wrap .btn #groupOrder:active {
  border: none;
  box-shadow: inset 3px 3px 12px rgb(128, 128, 128);
}

#recipe {
  font-family: "LotteMartDream";
  width: 1000px;
  height: 600px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
#recipe .inner {
  width: 100%;
  margin-top: 80px;
}
#recipe .inner .recipe_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#recipe .inner .recipe_title h2 {
  display: block;
  margin-left: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 26px;
  color: #222;
}
#recipe .inner .recipe_title .btnMore {
  display: block;
  text-align: center;
  width: 150px;
  height: 100%;
  font: normal 15px/2 "LotteMartDream";
  color: #222;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  margin-right: 30px;
}
#recipe .inner .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
#recipe .inner .wrap section {
  width: 500px;
  height: 100%;
  position: relative;
  margin: 70px 30px;
}
#recipe .inner .wrap section a.tab {
  display: block;
  width: 100%;
  height: 100%;
}
#recipe .inner .wrap section a.tab article {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  justify-content: center;
  align-items: center;
}
#recipe .inner .wrap section a.tab article img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.5;
}
#recipe .inner .wrap section a.tab article h3 {
  margin-bottom: 170px;
  position: absolute;
  font: normal 30px/1.5 "LotteMartDream";
  color: #fff;
  text-align: left;
}
#recipe .inner .wrap section a.tab article span {
  margin-bottom: -70px;
  padding: 30px;
  position: absolute;
  font: normal 20px/1.5 "LotteMartDream";
  color: #fff;
  text-align: left;
}
#recipe .inner .wrap section a.tab article.on {
  display: flex;
}
#recipe .inner .wrap section a.tab article:nth-of-type(1) {
  height: 400px;
}
#recipe .inner .wrap section a.tab article:nth-of-type(2) {
  height: 400px;
}
#recipe .inner .wrap section a.tab article:nth-of-type(3) {
  height: 400px;
}
#recipe .inner .wrap nav {
  width: 400px;
  height: 100%;
  align-items: flex-end;
  margin: 70px 30px;
}
#recipe .inner .wrap nav ul {
  width: 100%;
}
#recipe .inner .wrap nav ul li {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a0a0a0;
  margin-top: 3px;
}
#recipe .inner .wrap nav ul li a {
  padding: 30px 30px 30px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  font: normal 20px/1.5 "LotteMartDream";
  color: #222;
}
#recipe .inner .wrap nav ul li:hover {
  border: none;
  box-shadow: inset 3px 3px 7px rgb(104, 94, 84);
}
#recipe .inner .wrap nav ul li:active {
  border: none;
  box-shadow: inset 3px 3px 12px rgb(104, 94, 84);
}
#recipe .inner .wrap nav ul li.on {
  border: none;
  background-color: rgb(238, 92, 55);
  box-shadow: inset 3px 3px 7px rgb(110, 43, 26);
}
#recipe .inner .wrap nav ul li.on a {
  font: bold 20px/1.5 "LotteMartDream";
  color: rgb(255, 255, 255);
}
#recipe .inner .wrap nav ul:hover {
  border: none;
}

#slide {
  font-family: "LotteMartDream";
  width: 100%;
  height: 853px;
}
#slide .inner {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  width: 1180px;
}
#slide .inner ul {
  display: flex;
  transition: all 0.5s;
}
#slide .inner ul li img {
  width: 1180px;
  height: 853px;
}
#slide:nth-of-type(1) {
  background-color: rgb(234, 77, 42);
}
#slide:nth-of-type(2) {
  background-color: rgb(12, 48, 38);
}
#slide:nth-of-type(3) {
  background-color: rgb(48, 49, 44);
}
#slide:nth-of-type(4) {
  background-color: rgb(20, 20, 20);
}

.slide_btn {
  color: #fff;
  opacity: 0.7;
  padding: 0 50px;
  font-size: 50px;
  margin-top: -500px;
}
.slide_btn:hover {
  opacity: 1;
}
.slide_btn .btn-left {
  float: left;
}
.slide_btn .btn-right {
  float: right;
}

@media screen and (max-width: 1179px) {
  #slide {
    height: 500px;
  }
  #slide .inner {
    overflow: hidden;
    width: 600px;
    height: 100%;
  }
  #slide .inner ul {
    display: flex;
    transition: all 0.5s;
  }
  #slide .inner ul li img {
    width: 600px;
    height: 500px;
  }
  #slide:nth-of-type(1) {
    background-color: rgb(234, 77, 42);
  }
  #slide:nth-of-type(2) {
    background-color: rgb(12, 48, 38);
  }
  #slide:nth-of-type(3) {
    background-color: rgb(48, 49, 44);
  }
  #slide:nth-of-type(4) {
    background-color: rgb(20, 20, 20);
  }
}
/* #slide {
	font-family: 'LotteMartDream';
	width: 100%;
	height: 853px;
	//background-color: rgb(234, 77, 42);
	.inner {

		width: 1180px;
		ul {

			li {
				img {
					width: 1180px;
					height: 853px;
				}
			}
		}}
	}
 */
@media screen and (max-width: 400px) {
  /* header 영역 없음 */
}
#header_sub {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  background-color: rgb(246, 222, 197);
}
#header_sub.on {
  width: 100%;
  top: 0px;
  position: fixed;
}
#header_sub .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner h1 {
  padding: 14px;
  top: 30px;
  position: absolute;
  left: 0px;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 80px;
  right: 0px;
  display: flex;
  float: right;
}
#header_sub .inner .menuWeb #gnb li {
  display: block;
  padding: 14px;
  width: 130px;
  height: 50px;
  text-align: center;
}
#header_sub .inner .menuWeb #gnb li a {
  font: bold 20px/1 "LotteMartDream";
  color: #000;
}
#header_sub .inner .menuWeb #gnb li:hover {
  padding: 14px;
  width: 130px;
  height: 50px;
  background-color: rgb(238, 92, 55);
  box-shadow: inset 3px 3px 7px rgb(110, 43, 26);
}
#header_sub .inner .menuWeb #gnb li:hover a {
  margin-top: 10px;
  font: bold 20px/1 "LotteMartDream";
  color: rgb(255, 255, 255);
}
#header_sub .inner .menuWeb #gnb li:active {
  box-shadow: inset 3px 3px 12px rgb(110, 43, 26);
}
#header_sub .inner .menuWeb #gnb li.on {
  background-color: rgb(253, 208, 125);
  box-shadow: inset 0px 3px 7px rgb(128, 105, 63);
}
#header_sub .inner .menuWeb #gnb li.on a {
  margin-top: 10px;
  font: bold 20px/1 "LotteMartDream";
  color: rgb(114, 66, 18);
}
#header_sub .inner .menuWeb #gnb li .sub {
  width: 100%;
  height: 300px;
  background-color: #555;
  position: absolute;
  top: 60px;
  right: 0px;
  display: none;
  font-size: 100px;
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuWeb .until {
  padding: 10px 70px 5px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  gap: 20px;
  display: flex;
  font: normal 15px "LotteMartDream";
  color: #000;
}
#header_sub .inner .menuWeb .until li a {
  color: #333;
}
#header_sub .inner .btnCall {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  transition: 0.5s;
  text-indent: -9999999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: all 0.5s;
  display: none;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
#header_sub .inner .menuMo h2 a {
  font: bold 24px/1 "LotteMartDream";
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
#header_sub .inner .menuMo h2 span {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  display: block;
}
#header_sub .inner .menuMo ul li a {
  display: block;
  padding: 20px 0px;
  text-align: center;
  font: bold 14px/1 "LotteMartDream";
  color: #888;
  border-bottom: 1px solid #eee;
}

.content {
  width: 100%;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content > .inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.content > .inner .Title {
  width: 100%;
  height: 200px;
}
.content > .inner .Title h1 {
  position: relative;
  display: block;
  text-align: center;
  color: #000;
  font: normal 50px/1 "LotteMartDream";
  border: 1px solid transparent;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content .wrap {
  margin-top: 50px;
  width: 100%;
  min-height: 50vh;
}
.content .wrap .main_tab {
  width: 1180px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #000;
}
.content .wrap .main_tab ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.content .wrap .main_tab ul li {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrap .main_tab ul li a {
  color: #000;
  font: 15px "LotteMartDream";
}
.content .wrap .main_tab ul li:hover a {
  color: orange;
}
.content .wrap .main_box {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
.content .wrap .main_box article {
  width: 100%;
}
.content .wrap .main_box article .inner {
  margin-top: 15px;
  width: 1180px;
}
.content .wrap .main_box article .inner .sub_tab {
  height: 40px;
}
.content .wrap .main_box article .inner .sub_tab ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.content .wrap .main_box article .inner .sub_tab ul li {
  width: 1180px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrap .main_box article .inner .sub_tab ul li a {
  color: #000;
  font: 13px "LotteMartDream";
}
.content .wrap .main_box article .inner .sub_tab ul li:hover a {
  color: orange;
}
.content .wrap .main_box article .inner .sub_box {
  margin-top: 100px;
  width: 100%;
  min-height: 50vh;
  position: relative;
}
.content .wrap .main_box article .inner .sub_box article {
  width: 100%;
  position: relative;
}
.content .wrap .main_box article .inner .sub_box article .inner {
  width: 100%;
}

#footer_sub {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 140px;
  background-color: rgb(65, 65, 65);
}
#footer_sub .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#footer_sub .inner .footer_menu ul {
  float: right;
  margin-right: 210px;
}
#footer_sub .inner .footer_menu ul li {
  float: left;
  padding-right: 30px;
  display: flex;
}
#footer_sub .inner .footer_menu ul li a {
  font: bold 14px/1 "LotteMartDream";
  color: #fff;
}
#footer_sub .inner .footer_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#footer_sub .inner .footer_wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner .footer_wrap h2 {
  margin: 30px 100px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#footer_sub .inner .footer_wrap address {
  text-align: right;
  position: relative;
  margin: -100px 250px 50px;
  display: block;
  float: right;
}
#footer_sub .inner .footer_wrap address > li span {
  padding: 0px 0px 5px 20px;
  display: inline-block;
  font: normal 13px/1 "LotteMartDream";
  vertical-align: top;
  color: #d6d6d6;
  text-align: left;
}

.subMenu {
  width: 100%;
  height: 100%;
}
.subMenu .masicle .masicleText {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
.subMenu .masicle .masicleText .text {
  width: 50%;
  height: 85%;
  position: relative;
}
.subMenu .masicle .masicleText .text h2 {
  text-align: center;
  margin-bottom: 30px;
  font: normal 70px/2 "LotteMartdream";
}
.subMenu .masicle .masicleText .text h4 {
  text-align: center;
  margin-bottom: 60px;
  font: normal 20px/2 "LotteMartdream";
}
.subMenu .masicle .masicleText .text span {
  padding: 5px;
  margin-left: 30px;
  font: normal 15px/1.5 "LotteMartdream";
  display: block;
}
.subMenu .masicle .masicleText .img {
  width: 500px;
  height: 85%;
  display: flex;
  background-color: #aaa;
}
.subMenu .masicle .wrap {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subMenu .masicle .wrap .container {
  width: 280px;
}
.subMenu .masicle .wrap .container article {
  border: none;
}
.subMenu .masicle .wrap .container article .menuPic {
  height: 300px;
  background-color: #aaa;
  margin: 50px 0 10px 0;
}
.subMenu .masicle .wrap .container article h2 {
  color: #000;
  margin: 10px 0 0 5px;
  float: left;
}
.subMenu .masicle .wrap .container article p {
  color: #000;
  margin: 20px 0 0 5px;
  margin-bottom: 30px;
  float: right;
}
.subMenu .doublepop .doublepopText {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
.subMenu .doublepop .doublepopText .text {
  width: 50%;
  height: 85%;
  position: relative;
}
.subMenu .doublepop .doublepopText .text h2 {
  text-align: center;
  margin-bottom: 30px;
  font: normal 70px/2 "LotteMartdream";
}
.subMenu .doublepop .doublepopText .text h4 {
  text-align: center;
  margin-bottom: 60px;
  font: normal 20px/2 "LotteMartdream";
}
.subMenu .doublepop .doublepopText .text span {
  padding: 5px;
  margin-left: 30px;
  font: normal 15px/1.5 "LotteMartdream";
  display: block;
}
.subMenu .doublepop .doublepopText .img {
  width: 500px;
  height: 85%;
  display: flex;
  background-color: #aaa;
}
.subMenu .doublepop .wrap {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subMenu .doublepop .wrap .container {
  height: 100%;
  width: 280px;
  margin-right: 20px;
}
.subMenu .doublepop .wrap .container article .menuPic {
  height: 300px;
  background-color: #aaa;
  margin: 50px 0 10px 0;
}
.subMenu .doublepop .wrap .container article h2 {
  color: #000;
  margin: 10px 0 0 5px;
  float: left;
}
.subMenu .doublepop .wrap .container article p {
  color: #000;
  margin: 20px 0 0 5px;
  margin-bottom: 30px;
  float: right;
}
.subMenu .porkribs .porkribsText {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
.subMenu .porkribs .porkribsText .text {
  width: 50%;
  height: 85%;
  position: relative;
}
.subMenu .porkribs .porkribsText .text h2 {
  text-align: center;
  margin-bottom: 30px;
  font: normal 70px/2 "LotteMartdream";
}
.subMenu .porkribs .porkribsText .text h4 {
  text-align: center;
  margin-bottom: 60px;
  font: normal 20px/2 "LotteMartdream";
}
.subMenu .porkribs .porkribsText .text span {
  padding: 5px;
  margin-left: 30px;
  font: normal 15px/1.5 "LotteMartdream";
  display: block;
}
.subMenu .porkribs .porkribsText .img {
  width: 500px;
  height: 85%;
  display: flex;
  background-color: #aaa;
}
.subMenu .porkribs .wrap {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subMenu .porkribs .wrap .container {
  height: 100%;
  width: 280px;
  margin-right: 20px;
}
.subMenu .porkribs .wrap .container article .menuPic {
  height: 300px;
  background-color: #aaa;
  margin: 50px 0 10px 0;
}
.subMenu .porkribs .wrap .container article h2 {
  color: #000;
  margin: 10px 0 0 5px;
  float: left;
}
.subMenu .porkribs .wrap .container article p {
  color: #000;
  margin: 20px 0 0 5px;
  margin-bottom: 30px;
  float: right;
}
.subMenu .roasting .roastingText {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
.subMenu .roasting .roastingText .text {
  width: 50%;
  height: 85%;
  position: relative;
}
.subMenu .roasting .roastingText .text h2 {
  text-align: center;
  margin-bottom: 30px;
  font: normal 70px/2 "LotteMartdream";
}
.subMenu .roasting .roastingText .text h4 {
  text-align: center;
  margin-bottom: 60px;
  font: normal 20px/2 "LotteMartdream";
}
.subMenu .roasting .roastingText .text span {
  padding: 5px;
  margin-left: 30px;
  font: normal 15px/1.5 "LotteMartdream";
  display: block;
}
.subMenu .roasting .roastingText .img {
  width: 500px;
  height: 85%;
  display: flex;
  background-color: #aaa;
}
.subMenu .roasting .wrap {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subMenu .roasting .wrap .container {
  height: 100%;
  width: 280px;
  margin-right: 20px;
}
.subMenu .roasting .wrap .container article .menuPic {
  height: 300px;
  background-color: #aaa;
  margin: 50px 0 10px 0;
}
.subMenu .roasting .wrap .container article h2 {
  color: #000;
  margin: 10px 0 0 5px;
  float: left;
}
.subMenu .roasting .wrap .container article p {
  color: #000;
  margin: 20px 0 0 5px;
  margin-bottom: 30px;
  float: right;
}
.subMenu .diving .divingText {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 222, 197);
}
.subMenu .diving .divingText .text {
  width: 50%;
  height: 85%;
  position: relative;
}
.subMenu .diving .divingText .text h2 {
  text-align: center;
  margin-bottom: 20px;
  font: normal 70px/2 "LotteMartdream";
}
.subMenu .diving .divingText .text h4 {
  text-align: center;
  margin-bottom: 40px;
  font: normal 20px/2 "LotteMartdream";
}
.subMenu .diving .divingText .text span {
  padding: 5px;
  margin-left: 30px;
  font: normal 15px/1.5 "LotteMartdream";
  display: block;
}
.subMenu .diving .divingText .img {
  width: 500px;
  height: 85%;
  display: flex;
  background-color: #aaa;
}
.subMenu .diving .wrap {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subMenu .diving .wrap .container {
  width: 280px;
}
.subMenu .diving .wrap .container article {
  border: none;
}
.subMenu .diving .wrap .container article .menuPic {
  height: 300px;
  background-color: #aaa;
  margin: 50px 0 10px 0;
}
.subMenu .diving .wrap .container article h2 {
  color: #000;
  margin: 10px 0 0 5px;
  float: left;
}
.subMenu .diving .wrap .container article p {
  color: #000;
  margin: 20px 0 0 5px;
  margin-bottom: 30px;
  float: right;
}

/*# sourceMappingURL=style.css.map */
