#find {
	margin: 100px 0 100px 0;
	width: 100%;
	height: 200px;
	background-image: url(../image/main/store/find.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		span {
			position: absolute;
			display: block;
			text-align: center;
			color: #000;
			font: bold 40px/1.5 'LotteMartDream';
			border: 1px solid transparent;
			box-sizing: border-box;
			width: 300px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&:hover {
		filter: brightness(0.5);
		span {
			border: 1px solid #000;
			width: 200px;
			border-radius: 50px;
			font: bold 40px/1.5 'LotteMartDream';
			color: #000;
			display: block;
		}
	}
}
