#recipe {
	font-family: 'LotteMartDream';
	width: 1000px;
	height: 600px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(246, 222, 197);
	.inner {
		width: 100%;
		margin-top: 80px;
		.recipe_title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h2 {
				display: block;
				margin-left: 100px;
				text-align: center;
				width: 100%;
				height: 100%;
				font-weight: 700;
				font-size: 26px;
				color: #222;
			}
			.btnMore {
				display: block;
				text-align: center;
				width: 150px;
				height: 100%;
				font: normal 15px/2 'LotteMartDream';
				color: #222;
				border: 1px solid #a0a0a0;
				border-radius: 20px;
				margin-right: 30px;
			}
		}
		.wrap {
			width: 100%;
			height: 100%;
			display: flex;
			section {
				width: 500px;
				height: 100%;
				position: relative;
				margin: 70px 30px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					article {
						width: 100%;
						height: 100%;
						background-color: #000;
						display: none;
						justify-content: center;
						align-items: center;
						img {
							width: 100%;
							height: 400px;
							object-fit: cover;
							opacity: 0.5;
						}
						h3 {
							margin-bottom: 170px;
							position: absolute;
							font: normal 30px/1.5 'LotteMartDream';
							color: #fff;
							text-align: left;
						}
						span {
							margin-bottom: -70px;
							padding: 30px;
							position: absolute;
							font: normal 20px/1.5 'LotteMartDream';
							color: #fff;
							text-align: left;
						}

						&.on {
							display: flex;
						}
						&:nth-of-type(1) {
							height: 400px;
						}
						&:nth-of-type(2) {
							height: 400px;
						}
						&:nth-of-type(3) {
							height: 400px;
						}
					}
				}
			}
			nav {
				width: 400px;
				height: 100%;
				align-items: flex-end;
				margin: 70px 30px;
				ul {
					width: 100%;
					li {
						width: 100%;
						height: 130px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #a0a0a0;
						margin-top: 3px;
						a {
							padding: 30px 30px 30px;
							display: block;
							width: 100%;
							height: 100%;
							text-align: left;
							font: normal 20px/1.5 'LotteMartDream';
							color: #222;
						}
						&:hover {
							border: none;
							box-shadow: inset 3px 3px 7px rgb(104, 94, 84);
						}
						&:active {
							border: none;
							box-shadow: inset 3px 3px 12px rgb(104, 94, 84);
						}
						&.on {
							border: none;
							background-color: rgb(238, 92, 55);
							box-shadow: inset 3px 3px 7px rgb(110, 43, 26);
							a {
								font: bold 20px/1.5 'LotteMartDream';
								color: rgb(255, 255, 255);
							}
						}
					}
					&:hover {
						border: none;
					}
				}
			}
		}
	}
}
