#footer {
	width: 100%;
	background-color: rgb(65, 65, 65);
	padding: 25px 0 55px;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		padding-top: 20px;
		.footer_menu {
			display: flex;

			justify-content: space-between;

			ul {
				//display: block;

				width: 100%;
				height: 100%;
				margin: 0 auto;
				color: #222;
				li {
					float: left;
					padding-right: 30px;
					display: flex;
					a {
						font: normal 17px/1 'LotteMartDream';
						color: #fff;
					}
					.footer_menu_end {
						padding: 0px;
					}
				}
			}
		}
		.footer_wrap {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			h2 {
				margin: 50px auto;
				display: inline-block;
				width: 300px;
				height: 100%;
				img {
					position: absolute;
					width: 200px;
					height: 100px;
					object-fit: contain;
				}
			}
			address {
				width: 850px;
				height: 100%;
				margin: 50px auto;
				text-align: right;
				position: relative;
				display: block;
				float: right;
				> li {
					span {
						padding-right: 30px;
						display: inline-block;
						font: normal 18px/1.7 'LotteMartDream';
						color: #d6d6d6;
						text-align: left;
					}
				}
			}
		}
	}
}
